*{
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0 auto;
  transition: .5s;
}

header.headerfill {
  background-color: #242020;
  height: 150px;
  opacity: 0.9;
}

  .logo img{
  vertical-align: middle;
  text-align: center;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 1.0s;
}

header.headerfill .logo img {
  height: 150px;
  float: left;
  padding-left: 75px;
}

header nav {
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

header nav ul {
  transition: 1.0s;
  display: inline-block;
  list-style: none;
}

header nav ul li {
  text-align: center;
  float: left;
  padding: 0px 20px;
}

header nav ul li a {
  font-size: 15px;
  display: block;
  color: white;
  text-decoration: none;
  line-height: 30px;
  letter-spacing: 1px;
}

header.headerfill nav {
  float: right;
  padding-right: 75px;
}

header.headerfill nav ul li {
  padding-top: 40px;
}

nav ul li a:hover,
nav ul li a:focus {
  text-decoration: none;
}

.menu-toggle {
  padding-top: 60px;
  padding-right: 80px;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
  display: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (max-width: 1000px) {

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    height: calc(100vh - 50px);
    background: #242020;
    top: 50px;
    left: -100%;
    transition: 0.5s;
    opacity: 0.9;
  }

  header .logo img {
    text-align: center;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 1.0s;
  }

  header.headerfill {
    background-color: #242020;
    height: 150px;
    opacity: 0.9;
  }

  header.headerfill .logo img {
    height: 150px;
    float: left;
    padding-left: 0;
  }


  header nav.active {
    left: 0;
  }

  header nav ul {
    padding-top: 10px;
    display: block;
    display: inline-grid;
    text-align: center;
  }

  header nav ul li {
    padding-top: 10px;
  }

  header.headerfill nav {
    padding-right: 0;
    background: #242020;
  }

  header.headerfill nav ul li {
    padding-top: 10px;
  }

  header nav ul li a {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}

section#beranda {
  background-image: url("img/kojpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .isi {
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

section#beranda article {
  padding: 18em 0 10em 0;
}

.dalam {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

h3 {
  font-family: 'Galada', cursive;
  padding: 10px 0;
}

.putih {
  color: white;
}

@font-face {
  font-family: 
}

section#beranda h1 {
  font-family: 'Courgette', cursive;
  color: white;
  text-align: center;
  font-weight: 900px;
  font-size: 6em;
}

section#galeri {
  background-color: #242020;
}

iframe {
  padding-bottom: 30px;
}

section#kontak {
  background-color: #242020;
  padding-bottom: 20px;
}

section#kontak p {
  color: white;
  padding: 30px auto;
}

footer {
  position: relative;
  bottom: 0;
  width: auto;
  height: 70px;
  background-color: ;
  color: white;
  font-size: 0.98em;
}

footer p {
  color: black;
  padding-top: 16px;
}